* {
	/* margin: 0; */
	/* padding: 0; */
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: Helvetica, sans-serif;
}

body {
	font-size: 1.6rem;
	background: #333;
	color: snow;
}
