* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: #fefefe;
	scrollbar-width: thin;
}

.input {
	margin: 5px 0 20px;
}


.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown {
	display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
 

